*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* header */
header{
  height: 40px;
}

.logo{
  margin-top: 6px;
}

 .logo, .main-nav{
  float: left;
}

.left-main{
  float: left;
}

.right-main{
  float: right;
}

.main-nav{
  width: 80%;
}

.left-main ul, .right-main ul{
  list-style: none;
}

.left-main ul li, .right-main ul li{
  display: inline-block;
  padding: 0 5px;
}

.left-main:first-child{
  padding-left: 20px;
}

.left-main ul li a, .right-main ul li a{
  text-decoration: none;
  color: black;
  font-size: 12px;
  line-height: 38px;
  padding: 0 5px;
}

.left-main ul li:hover, .right-main ul li:hover{
  cursor: pointer;
  border-bottom: 2px solid black;
}

#inizia{
  float: right;
  padding-top: 8px;
  padding-right: 20px;
}

.btn{
  text-decoration: none;
  background-color: #0061FF;
  color: white;
  padding: 4px 10px;
  font-size: 12px;
}

/* jumbotron */

.jumbotron{
  width: 100%;
  background-color: #B4D0E7;
  margin-bottom: 200px;

}

.jumbo-container{
  width: 80%;
  margin: 0 auto;
}

.jumbo-container h2{
  font-size: 60px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.text-jumbo{
  display: inline-block;
  width: 25%;
}

.text-jumbo .jumbo-btn{
  margin-top: 15px;
  margin-bottom: 15px;
} 

.jumbo-container .jumbo-image{
  display: inline-block;
  width: 70%;
  float: right;
  background-size: contain;
}


.jumbo-container img{
  width: 100%;
}

#arrow{
  margin-top: 10px;
  font-size: 30px;
}

/* main */

.container{
  width: 70%;
  border: black 1px solid;
  margin: 0 auto;
}

.radiobtn{
  display: inline-block;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.colonna{
  float: left;
  width: 28%;
  border: lightgray solid 1px;
  margin-right: 30px;
  height: 795px;
}

.titolocolonna{
  width: 100%;
  border-bottom: solid lightgrey 1px;
  text-align: center;
}

.testocolonna{
  width: 80%;
  margin: 20px auto;
  font-size: 11px;
}

.piano-tariffario{
  font-size: 20px;
}

.mese{
  font-size: 11px;
  color: #C8CDD2;
  margin-top: -15px;
  margin-bottom: 40px;
}

.prezzo{
  font-size: 13px;
  margin-top: -10px;
}

.btn.col{
  display: block;
  width: 80%;
  text-align: center;
  margin: 40px auto;
}

.testocolonna.puntisalienti{
  font-size: 15px;
}

.container.enterprise{
  margin-top: 20px;
  margin-bottom: 90px;
}

.textcolumn{
  position: relative;
  width: 100%;
  border: black solid 1px;
}
.textsx{
  width: 72%;
  border: solid black 1px;
  display: inline-block;
}
.btn.ent{
  display: inline-block;
  margin: auto;
  position: absolute;
  top: 39%;
  left: 72%;
}

.image, .text{
  width: 50%;
  border: solid black 1px;
  float: left;
}

.text{
  width: 45%;
  border: solid black 1px;
  margin-left: 35px;
  float: left;
}

.image img{
  width: 100%;
}

.btn.partner{
  display: inline-block;
  margin left: 10px;
  margin-top: 10px;
}

.container.operazioni{
  margin-top: 40px;
  margin-bottom: 40px;
}

.cella{
  width: 30%;
  float: left;
  border: black solid 1px;
}

.cella.centrale{
  margin-left: 1%;
  margin-right: 1%;

}

.imgcella{
  width: 100%;
}

.imgcella img{
  width: 100%;
}

.textcella{
  width: 100%;
}

.sponsor-container{
  width: 100%;
  border: solid black 1px;
  height: 300px;
}

.cella.laterale{
  width: 30%;
  height: 100%;
}

.cella.centr{
  width: 40%;
  height: 100%;
}

.sponsorimg{
  display: inline-block;
  width: 50%;
  height: 50%;
  float: left;
}

.sponsorimg img{
  width: 100%;
}

.cella.centr{
  background-color: #F5F5F5;
}

#one{
  background-color: #A2D39B;
}

#two{
  background-color: #61082C;
}

#three{
  background-color: #1D93CE;
}

#four{
  background-color: #F91C1D;
}

#five{
  background-color: #D5021F;
}

#six{
  background-color: #B4D0E7;
}

#seven{
  background-color: #0D2481;
}

#eight{
  background-color: #FED830;
}

.container.faq{
  margin-top: 90px;
  margin-bottom: 70px;
}

.row{
  width: 100%;
  height: 30px;
  border: black 1px solid;
}

footer{
  width: 100%;
  height: 200px;
  background-color: black;
}

.cella-footer{
  width: 20%;
  height: 100%;
  border: solid white 1px;
  float: left;
}